{% extends 'base.html' %}

{% block title %}Add Equipment | MediTrack{% endblock %}

{% block content %}
<div class="card">
    <h2>Add New Equipment</h2>
    <form method="POST">
        <label>Name</label>
        <input name="name" placeholder="Name" required>
        <label>Category</label>
        <input name="category" placeholder="Category" required>
        <label>Quantity</label>
        <input name="quantity" type="number" min="0" placeholder="Quantity" required>
        <button type="submit">Add Equipment</button>
    </form>
</div>
{% endblock %}
