{% extends 'base.html' %}

{% block title %}Update Equipment | MediTrack{% endblock %}

{% block content %}
<div class="card">
    <h2>Update Equipment</h2>
    <form method="POST">
        <label>Name</label>
        <input name="name" value="{{ item.name }}" required>
        <label>Category</label>
        <input name="category" value="{{ item.category }}" required>
        <label>Quantity</label>
        <input name="quantity" type="number" min="0" value="{{ item.quantity }}" required>
        <button type="submit">Update Equipment</button>
    </form>
</div>
{% endblock %}
